// menu
.menu {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &#menu{
    background-color: var(--background-color3);
  }
  

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 2rem;
    gap: 2rem;
    @media screen and (min-width: $bp600) {
      flex-direction: row;
    }
  }

  &__itemImage {
    width: 100px;
  }

  &__text {
    text-align: center;
    
    @media screen and (min-width: $bp600) {
      text-align: left;
      border-right: 2px solid var(--font-color1);
    }
  }

  &__itemTitle {
    text-align: center;
    @media screen and (min-width: $bp600) {
      text-align: left;
    }
  }

  &__itemDescription {
    line-height: 125%;
    
  }

  &__itemPrice {
    font-weight: var(--font-bold);
    display: flex;

    gap: 1rem;
    @media screen and (min-width: $bp600) {
      flex-direction: column;
    }
  }

  &__priceReal {
    text-decoration: line-through;
  }
  .content {
    &:first-of-type {
      color: var(--white-color);
      
    }
    &:last-of-type {
     gap: 3rem;
      grid-template-columns: 1fr;
      align-items: flex-start;
      @media screen and (min-width: $bp800) {
        grid-template-columns: 2fr 1.1fr;
       
      }
      @media screen and (min-width: $bp992) {
       
        gap: 5rem;
      }
    }

    &__text {
      row-gap: 1rem;
      margin-bottom: 3rem;
      &.menu__text {
        margin-bottom: 0;
      }
    }
  }
  .timetable {
    &__title {
      background-color: var(--primary-color);
      padding: 1.5rem;
      text-align: center;
      font-weight: var(--font-medium);
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      background-color: var(--white-color);
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
        border-bottom: 2px solid var(--background-color1);
      }
    }

    &__day {
        font-weight: var(--font-medium);
    }

    &__time {
        font-weight: var(--font-medium);
    }
  }
}
