.newsletter {
  padding-top: 50px;
  padding-bottom: 50px;

  &__form {
    position: relative;
    @media screen and (min-width:$bp480){
      height: 5rem;
    }
   
    max-width: 400px;
    width: 100%;
    overflow: hidden;
  }

  &__input {
    height: 5rem;
    width: 100%;
    border-radius: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
  }

  &__button {
    @media screen and (min-width:$bp480) {
      position: absolute;
      top: 3px;
      right: 3px;
      z-index: 1;
      width: auto;
      margin-top: 0;
    }
    
    width: 100%;
    margin-top: 2rem;
   
  }
  .container {
    display: grid;
    justify-items: center;
    row-gap: 4rem;
  }

  .logo {
    &__icon {
      font-size: 4rem;
      color: var(--font-color2);
    }

    &__text {
      font-size: 2rem;
      color: var(--font-color2);
      font-weight: var(--font-medium);
    }
  }

  .menu__icons {
    color: var(--font-color2);
    column-gap: 1rem;
    font-size: 3rem;
    transition: var(--trans-0-3);

    .menu__icon {
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
